$firstParamGradient : #20130a;
$secondParamsGradient: #142026;
$thirdParamsGradient: #ffff;
$borderNutritionsColor: green;
$backgroundNutritionsColor: #ffff;
$fontColor:#ffff;
.background{
    background-image: linear-gradient(180deg,$firstParamGradient,$secondParamsGradient);
    height: 100vh;

}
.containerCarrinho{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 12em;
        border-radius: 40px;
    }
    .Informations{
        display: flex;
        flex-direction: column;

        h4{
            color: $fontColor;
            font-size: 2em;
            margin-bottom: 1.5em;
        }
        .nutritions{
            border: 1px solid $borderNutritionsColor;
            display: flex;
            flex-direction: column;
            width: 20em;
            margin-bottom: 1.5em;
            background-color: $backgroundNutritionsColor;
            border-radius: 20px;
            padding: 1em;
        }
        .buttons{
            display: flex;
            justify-content: center;
            button{
                border:none;
                width: 10em;
                padding: 1em;
                cursor: pointer;
                background-image: linear-gradient(90deg,$thirdParamsGradient,$secondParamsGradient);
                color: #20130a ;
                transition: 3s;
                    animation: colors 5s ease infinite;
                &:hover{
                    color: $fontColor;
                }
            }

        }
        .valorTotal{
            text-align: right;
            color: $fontColor;
        }
        .header{
            display: flex;
            justify-content: space-between;
            button{
                width: 2em;
                height: 2em;
            }
        }
    }
    .confirmarCompra{
        border:none;

        padding: 1em;
        cursor: pointer;
        background-image: linear-gradient(90deg,$thirdParamsGradient,$secondParamsGradient);
        color: #20130a ;
        transition: 3s;
            animation: colors 5s ease infinite;
        &:hover{
            color: $fontColor;
        }
    }

.Quantidade{
    text-align: center;
    color: $fontColor;
    margin-bottom: 2px;
}
}
.avisoVazio{
    text-align: center;
    color: $fontColor;
}

@media screen and (max-width:560px){
    .containerCarrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 10rem;
            display: flex;
            justify-content: center;
        }
    }
    
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}