$backgroundColor: #20130a;
$fontColor: #e9f0c9;
$bordImageColor: #ffff;
$backgroundImageColor: pink;
.containerIntrodutorio{
    display: flex;
    background-color: $backgroundColor;
    justify-content: center;
    align-items: center;
    .text{
        display: flex;
        flex-direction: column;
        span{
            font-size: 3.5em;
            color: $fontColor;
            font-weight: bold;
            font-family: 'Uchen', serif
        }
        p{
            max-width: 15em;
            font-size: 2em;
            color: $fontColor;
            font-weight: bold;
        }
    }
    .image{
        background-color: $backgroundImageColor;
        border-radius: 100%;
        border: 3px solid $bordImageColor;
        margin: 1em;
    }
}

@media screen and (max-width:800px){
    .containerIntrodutorio{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:500px){
    .containerIntrodutorio{
        .image{
            display: none;
        }
        .text{
            span,p{
                text-align: center;
            }
        }
    }
}