.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(180deg,#20130a,#142026);
    .modalProduto{
        display: flex;
        flex-direction: column;
        width: 20em;
        background-image: linear-gradient(180deg,#20130a,#142026);
        margin: 20px;
        height: 25em;
        justify-content: space-around;
        border-radius: 40px;
        h4{
            text-align: center;
            color: #e9f0c9;
        }
        img{
            width: 12em;
            margin: 0 auto;
            border-radius: 40px;

        }
    .downModal{
        display: flex;
        justify-content: space-around;
        span{
            color: #e9f0c9;
        }
        button{
            border-radius: 20px;
            border:none;
            padding: 1em;
            cursor: pointer;
            background-image: linear-gradient(90deg,white,#142026);
            color: #20130a ;
            transition: 3s;
                animation: colors 5s ease infinite;
            &:hover{
                color: #e9f0c9;
            }
        }
    }
    }
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}