$background: #20130a;
$fontColor : #ffff;
$fontHoverColor: #e9f0c9;

.Navbar{
    background-color: $background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        letter-spacing: 5px;
        color: #ffff;
        &:hover{
            cursor: pointer;
        }
    }
    input{
        width: 35em;
        border-radius: 20px;
        border: none;
        height: 2em;
    }
    .Itens{
        .NavLink{
            margin: 1em;
            color: $fontColor;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                color: $fontHoverColor;
            }
        }

    }
}
@media screen and (max-width:700px){
    .Navbar{
        input{
            display: none;
        }
    }
}