*{
    margin: 0;
    padding: 0;
}
footer{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
}

footer span{
    font-weight: bold;
    color: #61dafb;
}
@import "./partials/Navbar";
@import "./partials/containerIntrodutorio";
@import "./partials/displayProduto";
@import "./partials/carrinho";
@import "./partials//modal";